@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Playfair+Display:wght@900&display=swap');

:root {
	--bg-dark: #0e1525;
	--bg-dark-surface: #1c2333;
	--bg-dark-input: #2b3245;
	--text-light: #e8edfd;
	--text-light-50: #ccd6f9;
}

* {
	color: var(--text-light);
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
	background: var(--bg-dark);
	display: flex;
	flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Playfair Display', serif;
}

header {
	width: 100%;
	min-height: 10vh;
}

header > nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 30px;
}

header > nav > ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

header > nav > ul > li{
	list-style-type: none;
	margin: 0 20px;
}

header > nav > ul > li > a {
	text-decoration: none;
	transition: all ease-in-out .5s;
}

header > nav > ul > li > a:hover {
	color: var(--text-light-50);
	transition: all ease-in-out .5s;
}

header > nav > ul > li > a.active {
	color: var(--text-light-50);
	font-weight: bold;
	transition: all ease-in-out .5s;
}

main {
	width: 100%;
	height: 100%;
}

main .hero {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

main > .hero > .hero-content {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	height: 100%;
	width: 800px;
}

main > .hero > .hero-content > h1 {
	font-weight: 900;
	font-size: 4.5em;
	line-height: 1.2;
}

main > .hero > .hero-content > p {
	font-weight: 700;
	font-size: 1.8em;
	margin: 30px 0;
}

main > .hero > .hero-content > a.btn {
	text-decoration: none;
	border-radius: 15px;
	border: solid 2px var(--text-light);
	padding: 15px;
	margin: 15px 0;
	transition: all ease-in-out .5s;
}

main > .hero > .hero-content > a.btn:hover {
	text-decoration: none;
	border-radius: 15px;
	background: var(--text-light-50);
	color: var(--bg-dark);
	padding: 15px;
	margin: 15px 0;
	transition: all ease-in-out .5s;
}


main > .hero > .hero-img-holder {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 600;
}

main > .hero > .hero-img-holder > figure > img {
	height: 100%;
	width: 100%;
}
