@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&family=Playfair+Display:wght@900&display=swap');

:root {
	--bg-dark: #0e1525;
	--bg-dark-surface: #1c2333;
	--bg-dark-input: #2b3245;
	--text-light: #e8edfd;
	--text-light-50: #ccd6f9;
}

* {
	color: var(--text-light);
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
	background: var(--bg-dark);
	display: flex;
	flex-direction: column;
	scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Playfair Display', serif;
}

header {
	width: 100%;
	height: 10vh;
}

header > nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 30px;
}

header > nav > .logo {
	text-decoration: none;
	font-size: 1.5em;
	color: var(--text-light-50);
}

header > nav > ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

header > nav > ul > li{
	list-style-type: none;
	margin: 0 20px;
}

header > nav > ul > li > a {
	text-decoration: none;
	transition: all ease-in-out .5s;
}

header > nav > ul > li > a:hover {
	color: var(--text-light-50);
	transition: all ease-in-out .5s;
}

header > nav > ul > li > a.active {
	color: var(--text-light-50);
	font-weight: bold;
	transition: all ease-in-out .5s;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

main .hero {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	margin: 30px 0;
}

main > .hero > .hero-content {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	height: 100%;
	width: 800px;
}

main > .hero > .hero-content > h1 {
	font-weight: 900;
	font-size: 4em;
	line-height: 1.2;
}

main > .hero > .hero-content > p {
	font-weight: 700;
	font-size: 1.8em;
	margin: 30px 0;
}

main > .hero > .hero-content > a.btn {
	text-decoration: none;
	border-radius: 15px;
	border: solid 2px var(--text-light);
	padding: 15px;
	margin: 15px 0;
	transition: all ease-in-out .5s;
}

main > .hero > .hero-content > a.btn:hover {
	text-decoration: none;
	border-radius: 15px;
	background: var(--text-light-50);
	color: var(--bg-dark);
	padding: 15px;
	margin: 15px 0;
	transition: all ease-in-out .5s;
}


main > .hero > .hero-img-holder {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 600;
}

main .hero-img-holder > figure > img {
	height: 100%;
	width: 100%;
}

main .about {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 70%;
	margin: 30px 0;
}

main .section-title {
	font-size: 1.8em;
	margin: 50px;
}

main .about-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

main .about-content > p  {
	font-size: 1.2em;
	margin: 10px 0;
	text-align: center;
}

main .about-content .socials a {
	font-size: 2em;
	margin: 10px;
	text-align: center;
	text-decoration: none;
}

main .services {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 80%;
	margin: 40px 0;
}

main .services .service-cards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

main .services .card {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	height: 100%;
	width: 100%;
	margin: 10px 20px;
	padding: 30px;
	background: #2b3245;
	border-radius: 5px;
	transition: all ease-in-out .3s;
}

main .services .card:hover {
	transform:scale(1.02);
	box-shadow: #394460 5px 5px 10px;
	transition: all ease-in-out .3s;
}

main .services .card h3 {
	margin: 20px 0;
	font-size: 1.5em;
}

main .services .card i {
	font-size: 2em;
}

main .services .card p {
	font-size: 1.2em;
}

main .projects {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 80%;
}

main .projects .project-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 40px;
	align-items: center;
	justify-content: center;
}

main .projects .card {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	height: 100%;
	width: 400px;
	border-radius: 10px;
	background: var(--bg-dark-input);
	transition: all ease-in-out .3s;
}

main .projects .card:hover {
	transform: scale(1.02);
	box-shadow: #394460 5px 5px 10px;
	transition: all ease-in-out .3s;
}

main .projects .card img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

main .projects .card h3 {
	font-size: 1.5em;
	margin: 15px;
}

main .projects .card p {
	font-size: 1.1em;
	margin: 15px;
}

main .projects .card .btn {
	margin: 15px;
	text-decoration: none;
	height: 100%;
	padding: 10px;
	background: transparent;
	color: var(--text-light-50);
	border: 2px solid var(--text-light-50);
	border-radius: 10px;
	transition: all ease-in-out .3s;
}

main .projects .card .btn:hover {
	background: var(--text-light-50);
	color: var(--bg-dark);
	transition: all ease-in-out .3s;
}

main .pre-footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	height: 100%;
	width: 90%;
	margin: 40px;
}

main .pre-footer .skills {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	height: 100%;
	width: 100%;
}

main .pre-footer .skills label {
	font-size: 1.3em;
	display: inline-block;
	width: 200px;
}

main .pre-footer .skills progress {
	height: 30px;
	width: 350px;
	display: inline-block;
}

main .pre-footer .contact {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	height: 100%;
	width: 100%;
}

main .pre-footer .contact p {
	font-size: 1.5em;
	font-weight: bold;
	text-align: left;
	display: flex;
	flex-direction: column;
	margin: 10px 0;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	padding: 30px;
}

main .contact {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 80vh;
	width: 100%;
}

main .contact h1 {
	font-size: 4em;
	margin: 20px;
}

main .contact p {
	font-size: 1.5em;
	margin: 20px;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
}